---
BasedOnStyle: LLVM
IndentWidth: 4
MaxEmptyLinesToKeep: 2
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 72
PenaltyReturnTypeOnItsOwnLine: 255
PointerAlignment: Left
SpaceBeforeParens: Always
SpacesBeforeTrailingComments: 4
